<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    

</head>
<body>
  <div class="container">
    <h3 class=" text-center">Messaging</h3>
    <h6 style="text-align: right;"><a href="/user/logout" style="text-decoration: none; color: black;">logout</a></h6>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> 
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <% for(let as of chat) { %>
              <div class="chat_list active_chat">
                <div class="chat_people">
                    <div class="chat_img"> 
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                    </div>
                    <div class="chat_ib">
                      <% let link = '/'+as.senderId %>
                      <h5 style="color: black;"><a href= <%= link %> ><%= as.senderUsername %></a><span class="chat_date">Dec 25</span></h5>
                      <p><%= as.text %></p>
                    </div>
                </div>
              </div>
            <% } %>
            <h6 style="text-align: center;"><a href="/chat/newchat">send another message</a></h6>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <% for(let as of selectedChat) { 
                if( as.senderId == sender) { %>
                  <div class="incoming_msg">
                    <div class="incoming_msg_img"> 
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                    </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p><%= as.text %></p>
                        <span class="time_date"> 11:01 AM    |    June 9</span></div>
                    </div>
                  </div>
                <% }else { %>
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p><%= as.text %></p>
                      <span class="time_date"> 11:01 AM    |    June 9</span> 
                    </div>
                  </div>
            <% } 
            } %>
          </div>
          <% if(sender!='') { %>
            <div class="type_msg">
              <div class="input_msg_write">
                <% sender = '/'+sender %>
                <form action= <%= sender %>  method="POST">
                  <input type="text" class="write_msg" placeholder="Type a message" name="text" autocomplete="off"/>
                  <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
          <% } %>  
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>